<!DOCTYPE html>
<html lang="ja">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keyword" content="バナー,画像,配信媒体,Facebook,Google,CTR,CVR">
  <meta name="description" content="画像と配信媒体,配信位置を選択することで、AIが学習→CTR,CVRの数値を予測できるアプリです。">
  <title>画像からCTR,CVRを予測するアプリ</title>
  <link rel="icon" type="image/svg+xml" href="../static/favicon.ico" alt="AI">
  <link rel="stylesheet" href="../static/stylesheet.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FCXNRW791E"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FCXNRW791E');
  </script>
</head>


<body>
  <header>
    <a class="header-logo" href="https://youtu.be/eBlDFFFbiSw" target="_blank" rel="noopener noreferrer">画像からCTR,CVRを予測するアプリ</a>
    <a class="qa" href="https://form.run/@53poyoinc-1652179472" target="_blank" rel="noopener noreferrer"> お問合せ</a>
  </header>


  <div class="main">
   <h2> <span class="class1">AI</span>が送信された画像の
   <br><span class="class2">CTR,CVR</span>を予測します。
   <br>
   <br><p id="select">画像/配信面媒体/配信位置<br>を選択し、送信してください</p>
   </h2>


  <div class="form">
    <form method="POST" enctype="multipart/form-data">
      <p id="img">
       画像：
       <input class="file_choose" type="file" name="file" multiple>
       <!--<input class="file_choose" type="file" name="file" multiple>-->
     </p>

      <p>
       配信媒体：
        <select name="baitai">
          <option value="1" selected=“selected”>Facebook</option>
          <option value="2">Google</option>
          <option value="0">Eight</option>
          <option value="3">その他</option>
        </select>
      </p>
      <p>
       配信位置：
        <select name="ichi">
          <option value="2" selected=“selected”>メイン</option>
          <option value="3">上部</option>
          <option value="4">会社</option>
          <option value="5">名刺</option>
          <option value="0">PC</option>
          <option value="1">その他</option>
        </select>
      </p>
      <br><input class="btn" value="送信" type="submit">
    </form>
 </div>

   <div class="box">
    <p>「CTR」,「CVR」の予測は、<span class="answer1">{{answer}}</span> です。</p>
   </div>
   <div class="box">
    <p>100,000impあたりの「クリック数」,「CV数」の予測は、<span class="answer1">{{answer2}}</span> です。</p>
   </div>
   <p id="ctr"><a href="https://ja.wikipedia.org/wiki/CTR" target="_blank" rel="noopener noreferrer">「CTR」</a>= クリック率/
    <a href="https://en.wikipedia.org/wiki/CVR" target="_blank" rel="noopener noreferrer">「CVR」</a>= コンバージョン率</p>
  
   <div class = "care">
      <p id="sumple1">※こちらの学習データはサンプルとなります。<br>実際の業務での使用はおやめください。</p>
      <p>※本アプリはテストアプリとなりますため、<br>  本アプリを利用する、またはそれが原因で発生した<br>損失や損害について、当方では一切責任を負いかねます。</p>
   </div>
  </div>

  <footer>
    <small>&copy; 53poyo, inc.</small>
  </footer>
</body>
</html>

